server:
  port: 8090

spring:
  application:
    name: spring-cloud-gateway
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: local_route
              uri: http://localhost:8080
              predicates:
                - Path=/local-test
              filters:
                - AddRequestHeader=My-Header-Good,Good
                - AddRequestHeader=My-Header-Remove,Remove
                - AddRequestHeadersIfNotPresent=My-Header-Absent:Absent
                - AddRequestParameter=var, good
                - AddRequestParameter=var2, remove
                - MapRequestHeader=My-Header-Good, My-Header-Bad
                - MapRequestHeader=My-Header-Set, My-Header-Bad
                - SetRequestHeader=My-Header-Set, Set
                - RemoveRequestHeader=My-Header-Remove
                - RemoveRequestParameter=var2
            - id: httpbin
              uri: http://httpbin.org
              predicates:
                - Path=/httpbin
              filters:
                - AddRequestHeader=My-Header-Good,Good
                - AddRequestHeader=My-Header-Remove,Remove
                - AddRequestHeadersIfNotPresent=My-Header-Absent:Absent
                - AddRequestParameter=var, good
                - AddRequestParameter=var2, remove
                - MapRequestHeader=My-Header-Good, My-Header-Bad
                - MapRequestHeader=My-Header-Set, My-Header-Bad
                - SetRequestHeader=My-Header-Set, Set
                - RemoveRequestHeader=My-Header-Remove
                - RemoveRequestParameter=var2
            - id: invalid_route
              uri: http://localhost:7000
              predicates:
                - Path=/invalid
            - id: baeldung_route
              uri: http://baeldung.com
              predicates:
                - Path=/baeldung/
            - id: response_header_route
              uri: http://localhost:8080
              predicates:
                - Path=/response-header
              filters:
                - DedupeResponseHeader=Access-Control-Allow-Credentials Access-Control-Allow-Origin
                - SetResponseHeader=My-Header-Set, Set
                - RemoveResponseHeader=My-Header-Remove
                - RewriteResponseHeader=My-Header-Rewrite, password=[^&]+, password=***
                - RewriteLocationResponseHeader=AS_IN_REQUEST, Location
                - RemoveJsonAttributesResponseBody=form,Accept,true
                - AddResponseHeader=My-Header-Good,Good
                - AddResponseHeader=My-Header-Set,Good
                - AddResponseHeader=My-Header-Remove,Remove
                - AddResponseHeader=My-Header-Rewrite,password=12345678
            - id: path_route
              uri: http://localhost:8080
              predicates:
                - Path=/new/local-test/**
              filters:
                - RewritePath=/new(?<segment>/?.*), ${segment}
                - SetPath=/local-test
            - id: redirect_route
              uri: http://localhost:8080
              predicates:
                - Path=/status302/**
              filters:
                - RedirectTo=302, http://localhost:8080
            - id: status_route
              uri: http://localhost:8080
              predicates:
                - Path=/status401/**
              filters:
                - SetStatus=401
            - id: size_route
              uri: http://localhost:8080
              predicates:
                - Path=/request-size/**
              filters:
                - name: RequestSize
                  args:
                    maxSize: 5000000
management:
  endpoints:
    web:
      exposure:
        include: "*"
